.pad-bt-10 {
    padding-bottom: 10px;
}
.cards-custm-style {
    background-color: #f8f8f8;
}

.cards-outline-gray {
    outline: 1px solid #d8d8d7;
}
.link
{
    color:black;
    text-decoration: none;
}

.mg-bt-10 {
    margin-bottom: 10px;
}