<div class="text-center">
    <h2>View Users</h2>
</div>
<div class="row">
    <div class="col-xs-11">
        <a href="user/edit/" class="btn btn-default pull-right">Create</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID пользователя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Пол</th>
        <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of pagedItems">
        <th scope="row" [innerHTML]="user?.userId"></th>
        <td [innerHTML]="user?.name"></td>
        <td [innerHTML]="user?.surname"></td>
        <td [innerHTML]="user?.telephone"></td>
        <td [innerHTML]="user?.email"></td>
        <td [innerHTML]="user?.gender"></td>
        <td [innerHTML]="user?.birth"></td>
        <td>
            <a href="user/get/{{user?.userId}}" data-toggle="tooltip" title="View"><i class="fa fa-eye link"></i></a>
            <a href="user/edit/{{user?.userId}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil link"></i></a>
            <a href="javascript:void(0);" (deleteClick)="onClick()" [moduleName]="'user'" [entityId]="user?.userId"
               data-toggle="tooltip" title="Delete"><i class="fa fa-trash link"></i></a>
        </td>
    </tr>
    </tbody>

</table>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>