<myNavbar></myNavbar>

<div class="text-center">
    <h2>View Profile</h2>
</div>
<div *ngIf="user" class="card">
    <div class="center-block panel panel-default width50">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6">
                    <h4 [innerHTML]="user?.name"></h4>
                </div>
                <div class="col-lg-6">
                    <a href="user/edit/{{user?.userId}}" class="btn btn-default pull-right">edit</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <dt class="col-sm-4">ID пользователя:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.userId"></dd>
            </div>

            <div class="row">
                <dt class="col-sm-4">Фамилия:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.surname"></dd>
            </div>

            <div class="row">
                <dt class="col-sm-4">Телефон:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.telephone"></dd>
            </div>

            <div class="row">
                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.email"></dd>
            </div>

            <div class="row">
                <dt class="col-sm-4">Пол:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.gender"></dd>
            </div>

            <div class="row">
                <dt class="col-sm-4">Дата рождения:</dt>
                <dd class="col-sm-8" [innerHTML]="user?.birth"></dd>
            </div>
        </div>
    </div>
</div>

<div *ngIf="user" class="card text-center">
    <h3 class="card-header">User tasks</h3>
    <div class="card-block">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID задачи</th>
                <th>Статус</th>
                <th>ID создавшего пользователя</th>
                <th>Название задачи</th>
                <th>ID ответственного пользователя</th>
                <th>Описание задачи</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
                <th scope="row" [innerHTML]="task?.taskId"></th>
                <td [innerHTML]="task?.status"></td>
                <td [innerHTML]="task?.creatorUserId"></td>
                <td [innerHTML]="task?.name"></td>
                <td [innerHTML]="task?.responsibleUserId"></td>
                <td [innerHTML]="task?.description"></td>
                <td>
                    <a href="task/get/{{task?.taskId}}" data-toggle="tooltip" title="View"><i
                            class="fa fa-eye link"></i></a>
                    <a href="task/edit/{{task?.taskId}}" data-toggle="tooltip" title="Edit"><i
                            class="fa fa-pencil link"></i></a>
                    <a href="javascript:void(0);" (deleteClick)="onClick()" [moduleName]="'Tasks'"
                       [entityId]="task?.taskId"
                       data-toggle="tooltip" title="Delete"><i class="fa fa-trash link"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


